.home {
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg,rgb(24, 24, 24), #81af9d);
    padding: 20px 20px 200px;
    align-items: center;
}

.titleContainer{
    display: flex;
    align-items: center;
    padding-top: 80px;
    flex-direction: column;
}

.home p {
    font-size: 2.5em;
    color: #ffffff;
}

.home b {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1.5em;
    color: #ffffff;
}

.callToAction{
    background-color: #508094;
    padding: 10px;
    margin-left: 20px;
    transition: 0.2s;
}

.callToAction:hover{
    padding: 15px;
    cursor: pointer;
}

.ctaContainer {
    padding-top: 20px;
    font-size: 1.5em;
    font-weight: 600;
}