.services{
    display: flex;
    padding-top: 100px;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(0deg,rgb(24, 24, 24), #81af9d);
}

.React{
    align-items: center;
    width: 193px;
    height: 193px;
    padding-bottom: 80px;
}

.services p{
    align-items: center;
    color: #f1f1f1;
    font-size: 1.5em;
    text-align: center;
    padding-bottom: 50px;
}